!CONFIG { version="1.0" locale="utf-8" }

// Параметры подключения к базе данных (для удобства разработки, по умолчанию - рабочие параметры).

// БД-источник.
db-src {
    // Адрес хоста.
    host="127.0.0.1"
    // Алиас или путь и имя файла.
    alias="Center"
    // Имя пользователя.
    user="REPLICATOR"
    // Пароль.
    password="xxxxxxxx"
}

// БД-приёмник.
db-dst {
    // Адрес хоста.
    host="127.0.0.1"
    // Алиас или путь и имя файла.
    alias="WebCenter"
    // Имя пользователя.
    user="REPLICATOR"
    // Пароль.
    password="xxxxxxxx"
}

replicator {
    delay="30000" // пауза между репликациями (мсек).
}

// Для режима с интерфейсом (когда при запуске указан аргумент showui)
ui {
    redraw="250" // интервал обновления состояния на экране (мсек).
}

// Для режима без интерфейса (когда не указан аргумент showui)
noui {
    redraw="2000" // интервал обновления состояния в файле (мсек).
    path="/run/user/1000/WebReplicator" // каталог в котором создаётся файл отображения состояния (для размещения на tmpfs).
}
